body {
  margin: 0;
  padding: 0;
}

#products {
  height: 100vh;
  overflow-y: auto;
  padding: 2px
}
html, body{
  margin: 0;
  padding: 0;
  font-size: 10pt;
  color: #949aa7;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  
}
.mainApp{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  color: #949aa7;

}
.contentArea > .contentPages{
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  background-color: white;

}
.container-sideImg{
  width: 50%;
  display: inline-block;
}
.sideImg{
  width: 100%;
}
.login-container{
  display: inline;
  width: 50%;
  float: right;
}
.login-container h1{
  margin-left: 15%;
  margin-right: auto;
  display: table;
  margin-top: 10%;
  color: rgb(60, 69, 95);
}
.login{
  margin-left: 15%;
  margin-right: auto;
  display: table;
  width: 50%;
  margin-top: 25%;
}
.login a{
  display: block;
  font-size: 15px;
  line-height: 1.6em;
  color: rgb(60, 69, 95);
}
.login input{
  width: 100%;
  border-radius: 5px;
  height: 35px;
  border:solid 1px rgb(182, 182, 182);
}
.login-button{
  margin-top: 10px;
  background-color: rgb(118, 163, 219);
  border-radius: 10px;
  border: none;
  color: #FFFFFF;
  font-size: 20px;
  padding: 20px;
  transition: all 0.5s;
  cursor: pointer;
  display: inline-block;
}
.login-button:hover{
  background-color: teal;
}
.login-button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.login-button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.login-button:hover:hover span {
  padding-right: 25px;
}
.login-buttonno:hover span:after {
  opacity: 1;
  right: 0;
}
.inv{
  display:none;
}

.card-body{
  margin-top:100px;
}